<mat-card>
    <mat-card-title>
        Редактирование профиля
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="profileForm" (submit)="submitForm()" *ngIf="isProfileLoaded">
            <mat-form-field>
                <input matInput placeholder="Фамилия" type="text" id="inputLastName" formControlName="last_name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Имя" type="text" id="inputFirstName" formControlName="first_name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Отчество" type="text" id="inputPatronymic"  formControlName="patronymic">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Структурное подразделение:" type="text" id="inputStructuralUnit" formControlName="structural_unit">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Группа" type="text" id="inputGroup"  formControlName="group" >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Курс" type="text" id="inputCourse" formControlName="course">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" type="text" id="inputEmail" formControlName="email">
            </mat-form-field>
            <p>Паспорт</p>
            <mat-form-field>
                <input matInput placeholder="Серия" type="text" id="inputPassportSeries" formControlName="passport_series">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Номер" type="text" id="inputPassportNumber" formControlName="passport_number">
            </mat-form-field>
            <button type="submit" mat-button>
                Сохранить изменения
            </button>
            </form>
    </mat-card-content>
</mat-card>