<section class="section" class="section column is-half is-offset-one-quarter">
  <div class="columns">
    <div class="column is-1">
    </div>
    <div class="column">
      <h1 class="title">Профиль {{ currentUser.slug }}</h1>
      <h2 class="subtitle">Общее</h2>
      <table class="table" *ngIf="userProfile">
        <tbody>
          <tr>
            <td>Email</td>
            <td>{{ userProfile.email }}</td>
          </tr>
          <tr>
            <td>Фамилия</td>
            <td>{{ userProfile.last_name }}</td>
          </tr>
          <tr>
            <td>Имя</td>
            <td>{{ userProfile.first_name }}</td>
          </tr>
          <tr>
            <td>Отчество</td>
            <td>{{ userProfile.patronymic }}</td>
          </tr>
          <tr>
            <td>Паспорт</td>
            <td>{{ userProfile.passport_series }} {{ userProfile.passport_number }}</td>
          </tr>
        </tbody>
      </table>
      <h2 class="subtitle" *ngIf="currentUser.role === 'student'">Карточка студента</h2>
      <table class="table" *ngIf="currentUser.role === 'student'">
        <tbody>
          <tr>
            <td>Структурное подразделение:</td>
            <td>{{ userProfile.structural_unit }}</td>
          </tr>
          <tr>
            <td>Группа</td>
            <td>{{ userProfile.group }}</td>
          </tr>
          <tr>
            <td>Курс</td>
            <td>{{ userProfile.course }}</td>
          </tr>
          <tr>
            <td>Зав. кафедрой</td>
            <td>{{ userProfile.head_of_department }}</td>
          </tr>
        </tbody>
      </table>
      <h2 class="subtitle" *ngIf="currentUser.role === 'collaborator'">Карточка сотрудника</h2>
      <table class="table" *ngIf="currentUser.role === 'collaborator'">
        <tbody>
          <tr>
            <td>Должность</td>
            <td>{{ userProfile.position }}</td>
          </tr>
        </tbody>
      </table>
      <a class="button" routerLink="/profile/edit">
        <span class="icon">
          <i class="fas fa-pencil-alt"></i>
        </span>
        <span>Редактировать</span>
      </a>
    </div>
  </div>
</section>
