<mat-card>
  <mat-card-title>Профиль</mat-card-title>
  <mat-card-content>
      <mat-list *ngIf="userProfile">
          <mat-list-item>
            <span class="item-title">Фамилия:&nbsp;</span>
            <span>{{ userProfile.last_name }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Имя:&nbsp;</span>
            <span>{{ userProfile.first_name }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Отчество:&nbsp;</span>
            <span>{{ userProfile.patronymic }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Структурное подразделение:&nbsp;</span>
            <span>{{ userProfile.structural_unit }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Группа:&nbsp;</span>
            <span>{{ userProfile.group }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Курс:&nbsp;</span>
            <span>{{ userProfile.course }}</span>
          </mat-list-item>
          <mat-list-item>
              <span class="item-title">Зав. кафедрой:&nbsp;</span>
              <span>{{ userProfile.head_of_department }}</span>
            </mat-list-item>
          <mat-list-item>
            <span class="item-title">Email:&nbsp;</span>
            <span>{{ userProfile.email }}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="item-title">Паспорт:&nbsp;</span>
            <span>{{ userProfile.passport_series }} {{ userProfile.passport_number }}</span>
          </mat-list-item>
      </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/profile/edit">Редактировать</a>
  </mat-card-actions>
</mat-card>