<ul class="collection">
  <li class="collection-item">Фамилия: {{ userProfile.last_name }}</li>
  <li class="collection-item">Имя: {{ userProfile.first_name }}</li>
  <li class="collection-item">Отчество: {{ userProfile.patronymic }}</li>
  <li class="collection-item">Структурное подразделение: {{ userProfile.structural_unit }}</li>
  <li class="collection-item">Группа: {{ userProfile.group }}</li>
  <li class="collection-item">Курс: {{ userProfile.course }}</li>
  <li class="collection-item">Email: {{ userProfile.email }}</li>
  <li class="collection-item">Паспорт: {{ userProfile.passport_series }} {{ userProfile.passport_number }}</li>
</ul>