<mat-card>
  <mat-card-title>Заявка #{{ claimId }}</mat-card-title>
  <mat-card-content *ngIf="claim">
    <p><strong>Создана:</strong> {{ claim.created_at | date:'dd.MM.yyyy' }}</p>
    <p><strong>Запросил:</strong> {{ claim.request_person.email }}</p>
    <p><strong>Статус:</strong> {{ claim.status | claim_status }}</p>
    <p><strong>Пункт назначения:</strong></p>
    <p><strong>Страна, нас. пункт:</strong> {{ claim.claim_data.dst_country }}, {{ claim.claim_data.dst_city }}</p>
    <p><strong>Организация:</strong> {{ claim.claim_data.dst_organization }}</p>
    <p><strong>Цель:</strong> {{ claim.claim_data.goal }}</p>
    <p><strong>Дата начала:</strong> {{ claim.claim_data.start_date | date:'dd.MM.yyyy' }}</p>
    <p><strong>Дата окончания:</strong> {{ claim.claim_data.finish_date | date:'dd.MM.yyyy' }}</p>
    <p><strong>Срок:</strong> {{ claim.claim_data.term }}</p>
    <p><strong>Источник финансирования:</strong> {{ claim.claim_data.financial_source }}</p>
    <div *ngIf="claim.request_person.role=='student'">
      <p><strong>Транспорт:</strong> {{ claim.claim_data.transport }}</p>
      <p><strong>Зав. кафедрой:</strong> {{ claim.claim_data.head_of_department }}</p>
    </div>
    <div *ngIf="claim.request_person.role=='collaborator'">
      <p><strong>Организация-плательщик:</strong> {{ claim.claim_data.payer_organization }}</p>
      <p><strong>Основание:</strong> {{ claim.claim_data.reason }}</p>
    </div>
    <div *ngIf="readyDocuments.length != 0">
      <p><strong>Готовые документы</strong></p>
      <p *ngFor="let document of readyDocuments">
        <a href="javascript:void(0)" (click)="getDocument(document.name)">{{ document.name }}</a>
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/main"><mat-icon>arrow_back</mat-icon></a>
    <button mat-button *ngIf="currentUser.role === 'lpr'" (click)="accept()">
      Одобрить
    </button>
    <button mat-button *ngIf="currentUser.role === 'lpr'" (click)="reject()">
      Отклонить
    </button>
    <button mat-button *ngIf="currentUser.role === 'secretary'" (click)="createDocuments()">
      <span *ngIf="readyDocuments.length == 0">Сгенерировать документы</span>
      <span *ngIf="readyDocuments.length != 0">Сгенерировать документы заново</span>
    </button>
  </mat-card-actions>

</mat-card>