<mat-card>
  <mat-card-title>Заявка #{{ claimId }}</mat-card-title>
  <mat-card-content *ngIf="claimDetails">
    <p>Создана: {{ claimDetails.created_at | date:'dd.MM.yyyy' }}</p>
    <p>Запросил: {{ claimDetails.request_person_id }}</p>
    <p>Статус: {{ claimDetails.status }}</p>
    <p>Пункт назначения:</p>
    <p>Страна, нас. пункт: {{ claimDetails.dst_country }}, {{ claimDetails.dst_city }}</p>
    <p>Организация: {{ claimDetails.dst_organization }}</p>
    <p>Цель: {{ claimDetails.goal }}</p>
    <p>Дата начала: {{ claimDetails.start_date | date:'dd.MM.yyyy' }}</p>
    <p>Дата окончания: {{ claimDetails.finish_date | date:'dd.MM.yyyy' }}</p>
    <p>Срок: {{ claimDetails.term }}</p>
    <p>Источник финансирования: {{ claimDetails.financial_source }}</p>
    <p>Транспорт: {{ claimDetails.transport }}</p>
    <p>Зав. кафедрой: {{ claimDetails.head_of_department }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/main"><mat-icon>arrow_back</mat-icon></a>
  </mat-card-actions>

</mat-card>