<div class="col-md-6 offset-md-3">
<form>
    <div class="form-group">
      <label for="inputDstCountry">Страна</label>
      <input type="text" class="form-control" id="inputDstCountry" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="inputDstCity">Город</label>
      <input type="text" class="form-control" id="inputDstCity">
    </div>
    <div class="form-group">
      <label for="inputDstOrganization">Организация</label>
      <input type="text" class="form-control" id="inputDstOrganization">
    </div>
    <div class="form-group">
      <label for="inputGoal">Цель</label>
      <input type="text" class="form-control" id="inputGoal">
    </div>
    <div class="form-group">
      <label for="inputTerm">Срок</label>
      <input type="text" class="form-control" id="inputTerm">
    </div>
    <div class="form-group">
      <label for="inputStartDate">Дата начала</label>
      <input type="text" class="form-control" id="inputStartDate">
    </div>
    <div class="form-group">
      <label for="inputFinishDate">Дата окончания</label>
      <input type="text" class="form-control" id="inputFinishDate">
    </div>
    <div class="form-group">
      <label for="inputTransport">Транспорт</label>
      <input type="text" class="form-control" id="inputTransport">
    </div>
    <div class="form-group">
      <label for="inputFinSource">Источник финансирования</label>
      <input type="text" class="form-control" id="inputFinSource">
    </div>
    <div class="form-group">
      <label for="inputHOD">Заведующий кафедрой</label>
      <input type="text" class="form-control" id="inputHOD">
    </div>
    <button type="submit" class="btn btn-primary">Оформить командировку</button>
  </form>
</div>
