<mat-card>
    <mat-card-title>Последние заявки:</mat-card-title>
    <mat-card-content>
        <table cdk-table [dataSource]="dataSource">
            <ng-container cdkColumnDef="position">
            <th cdk-header-cell *cdkHeaderCellDef> No. </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <ng-container cdkColumnDef="created_at">
            <th cdk-header-cell *cdkHeaderCellDef> Дата создания </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.created_at}} </td>
            </ng-container>
        
            <ng-container cdkColumnDef="status">
            <th cdk-header-cell *cdkHeaderCellDef> Статус </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.status | claim_status}} </td>
            </ng-container>
        
            <ng-container cdkColumnDef="details">
            <th cdk-header-cell *cdkHeaderCellDef></th>
            <td cdk-cell *cdkCellDef="let element"><a routerLink="{{element.details}}">Подробности</a></td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
    </mat-card-content>
    <mat-card-actions *ngIf="role == 'student' || role == 'collaborator'">
        <a mat-button routerLink="/claim">Оформить новую</a>
    </mat-card-actions>
</mat-card>
