<div class="col-md-6 offset-md-3">
<p>Последние заявки:</p>
<table class="table">
    <tbody>
      <tr>
          <td>№ 1</td>
          <td>25.04.2016</td>
          <td>Не рассмотрена</td>
          <td><a routerLink="/claim/1">Подробнее</a></td>
      </tr>
      <tr>
          <td>№ 2</td>
          <td>28.04.2016</td>
          <td>Рассмотрена</td>
          <td><a routerLink="/claim/2">Подробнее</a></td>
      </tr>
      <tr>
          <td>№ 3</td>
          <td>01.05.2016</td>
          <td>Принята</td>
          <td><a routerLink="/claim/3">Подробнее</a></td>
      </tr>
    </tbody>
  </table>
  <a class="btn" routerLink="/claim">Оформить новую</a>
</div>