<mat-card>
    <mat-card-title>Последние заявки:</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"><a routerLink="{{element.details}}">{{element.position}}</a></td>
            </ng-container>
        
            <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата создания </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd.MM.yyyy HH:mm'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{
                'claim-notexamined': element.status == 'notExamined',
                'claim-accepted': element.status == 'accepted',
                'claim-rejected': element.status == 'rejected'
            }"> {{element.status | claim_status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
    </mat-card-content>
    <mat-card-actions *ngIf="role == 'student' || role == 'collaborator'">
        <a mat-button routerLink="/claim">Оформить новую</a>
    </mat-card-actions>
</mat-card>
