<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu" *ngIf="!isAuthenticated">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/login">Войти</a>
      <a class="navbar-item" routerLink="/register">Регистрация</a>
    </div>
  </div>

  <div class="navbar-menu" *ngIf="isAuthenticated">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/main">Главная</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <figure class="profile-img is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
          <div class="profile_info">
            <p class="profile-firstname">{{ currentUser.slug }}</p>
            <p class="profile-status">Статус: {{ currentUser.role | userRole }}</p>
          </div>
        </div>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/profile/view">Профиль</a>
          <a class="navbar-item" href="javascript:void(0)" (click)="logout()">Выйти</a>
        </div>
      </div>
    </div>
  </div>
</nav>
