<nav>
  <div class="nav-wrapper blue ">
      <a href="#" class="brand-logo">autodoc</a>
  <ul class="right hide-on-med-and-down">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Главная</a>
    </li>
    <li *ngIf='isAuthenticated'  class="nav-item">
        <a class="nav-link" routerLink="/profile/view">Профиль</a>
      </li>
    <li *ngIf='!isAuthenticated' class="nav-item">
      <a class="nav-link" routerLink="/login">Войти</a>
    </li>
    <li *ngIf='!isAuthenticated' class="nav-item">
      <a class="nav-link" routerLink="/register">Зарегистрироваться</a>
    </li>
    <li *ngIf='isAuthenticated'  class="nav-item">
      <a class="nav-link" (click)="logout()" href="#">Выйти</a>
    </li>
  </ul>
  </div>
</nav>
