<div class="col-md-6 offset-md-3">
    <table class="table">
        <tbody>
          <tr>
            <td>Фамилия</td>
            <td>Иванов</td>
          </tr>
          <tr>
            <td>Имя</td>
            <td>Петр</td>
          </tr>
          <tr>
            <td>Отчество</td>
            <td>Иванович</td>
          </tr>
          <tr>
            <td>Структурное подразделение</td>
            <td>ИКТИБ</td>
          </tr>
          <tr>
            <td>Группа</td>
            <td>КТсо3-5</td>
          </tr>
          <tr>
            <td>Курс</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>p.ivanov@example.com</td>
          </tr>
          <tr>
            <td>Паспорт</td>
            <td>3459 945998</td>
          </tr>
        </tbody>
      </table>
</div>
