/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    line-height: 1.5;
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

mat-form-field {
    width: 100%;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.error-messages {
    color: #B85C5C !important;
    font-weight: bold; 
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}